# Ignore a specific folders
.vscode/
opencilk-2.1.0-x86_64-linux-gnu-ubuntu-22.04/
Main_Cplusplus/
tutorial/
demos/

# Ignore all files with the following extensions
*.csv
*.json
*.ipynb

# Unignore a specific file or folder
!Main_Cplusplus/brownian_v1.5/
!Python_Plotting/plottingGen_v1.2.ipynb
